.edit-window {
    position: fixed;
    justify-self: center;
    z-index: 999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 500px;
    height: 300px;
    background-color: darkgrey;
}
